<div class="row">
  <div class="col-xs-offset-1">
    <div
      class="text-center font-weight-bold"
      *ngIf="mnpContactManagementID == 0"
    >
      <h1>Create New Contact</h1>
    </div>
    <div
      class="text-center font-weight-bold"
      *ngIf="mnpContactManagementID != 0"
    >
      <h1>Update Contact</h1>
    </div>

    <form [formGroup]="createNewContactFormGroup" (ngSubmit)="onSubmit()">
      <div id="user-data">
        <div class="form-group">
          <label for="contactName">Name</label>
          <input
            type="text"
            id="contactName"
            class="form-control"
            formControlName="contactName"
          />
          <span
            *ngIf="
              !createNewContactFormGroup.get('contactName').valid &&
              createNewContactFormGroup.get('contactName').touched
            "
            class="help-block text-danger"
          >
            <span
              *ngIf="
                createNewContactFormGroup.get('contactName').errors['required']
              "
              >This field is required!</span
            >
            <span
              *ngIf="
                createNewContactFormGroup.get('contactName').errors['minlength']
              "
            >
              Name must be 3 characters Long!
            </span>
            <span
              *ngIf="
                createNewContactFormGroup.get('contactName').errors['maxlength']
              "
            >
              Name must be less then 100 characters!
            </span>
          </span>
        </div>
        <div class="form-group">
          <label for="address">Address</label>
          <input
            type="text"
            id="address"
            class="form-control"
            formControlName="address"
          />
          <span
            *ngIf="
              !createNewContactFormGroup.get('address').valid &&
              createNewContactFormGroup.get('address').touched
            "
            class="help-block text-danger"
          >
            <span
              *ngIf="
                createNewContactFormGroup.get('address').errors['required']
              "
              >This field is required!</span
            >
            <span
              *ngIf="
                createNewContactFormGroup.get('address').errors['minlength']
              "
            >
              Address must be 15 characters Long!
            </span>
            <span
              *ngIf="
                createNewContactFormGroup.get('address').errors['maxlength']
              "
            >
              Address must be less then 250 characters!
            </span>
          </span>
        </div>

        <div class="form-group">
          <label for="lastDateContacted">Last Date Contacted</label>
          <input
            class="form-control"
            #datepickerYMD="bsDatepicker"
            bsDatepicker
            formControlName="lastDateContacted"
            id="lastDateContacted"
            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
          />

          <span
            *ngIf="
              !createNewContactFormGroup.get('lastDateContacted').valid &&
              createNewContactFormGroup.get('lastDateContacted').touched
            "
            class="help-block text-danger"
          >
            <span
              *ngIf="
                createNewContactFormGroup.get('lastDateContacted').errors[
                  'required'
                ]
              "
              >This field is required!</span
            >
          </span>
        </div>

        <div class="form-group">
          <label for="jobTitle">Job Title</label>
          <input
            type="text"
            id="jobTitle"
            class="form-control"
            formControlName="jobTitle"
          />

          <span
            *ngIf="
              !createNewContactFormGroup.get('jobTitle').valid &&
              createNewContactFormGroup.get('jobTitle').touched
            "
            class="help-block text-danger"
          >
            <span
              *ngIf="
                createNewContactFormGroup.get('jobTitle').errors['required']
              "
              >This field is required!</span
            >
            <span
              *ngIf="
                createNewContactFormGroup.get('jobTitle').errors['maxlength']
              "
            >
              Job Title must be less then 100 characters!
            </span>
          </span>
        </div>

        <div class="form-group">
          <label for="phone">Phone</label>
          <input
            type="text"
            id="phone"
            class="form-control"
            formControlName="phone"
          />
          <span
            *ngIf="
              !createNewContactFormGroup.get('phone').valid &&
              createNewContactFormGroup.get('phone').touched
            "
            class="help-block text-danger"
          >
            <span
              *ngIf="createNewContactFormGroup.get('phone').errors['minlength']"
              >Phone Number must be 10 characters Long!
            </span>
            <span
              *ngIf="createNewContactFormGroup.get('phone').errors['maxlength']"
            >
              Phone Number must be 10 characters Long!
            </span>
            <span
              *ngIf="createNewContactFormGroup.get('phone').errors['pattern']"
            >
              Phone Number format is not correct!
            </span>
            <span
              *ngIf="createNewContactFormGroup.get('phone').errors['required']"
            >
              This field is required!
            </span>
          </span>
        </div>

        <div class="form-group">
          <label for="companyId">companyId</label>
          <input
            type="text"
            id="companyId"
            class="form-control"
            formControlName="companyId"
          />

          <span
            *ngIf="
              !createNewContactFormGroup.get('companyId').valid &&
              createNewContactFormGroup.get('companyId').touched
            "
            class="help-block text-danger"
          >
            <span
              *ngIf="
                createNewContactFormGroup.get('companyId').errors['required']
              "
              >This field is required!</span
            >
          </span>
        </div>

        <div class="form-group">
          <label for="email">E-Mail</label>
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
          />
          <span
            *ngIf="
              !createNewContactFormGroup.get('email').valid &&
              createNewContactFormGroup.get('email').touched
            "
            class="help-block text-danger"
          >
            <span *ngIf="createNewContactFormGroup.get('email').errors['email']"
              >email format is not correct!</span
            >
            <span
              *ngIf="createNewContactFormGroup.get('email').errors['required']"
              >This field is required!</span
            >
            <span
              *ngIf="createNewContactFormGroup.get('email').errors['maxlength']"
            >
              Email is more than 150 characters!
            </span>
          </span>
        </div>

        <div class="form-group">
          <label for="comments">Comments</label>
          <textarea
            id="comments"
            class="form-control"
            formControlName="comments"
            rows="3"
          ></textarea>
        </div>
        <span
          *ngIf="
            !createNewContactFormGroup.get('comments').valid &&
            createNewContactFormGroup.get('comments').touched
          "
          class="help-block text-danger"
        >
          <span
            *ngIf="
              createNewContactFormGroup.get('comments').errors['maxlength']
            "
            >Comments are more than 250 characters</span
          >
          <span
            *ngIf="createNewContactFormGroup.get('comments').errors['required']"
            >This field is required!</span
          >
        </span>
      </div>
      <div class="col-sm-10">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!createNewContactFormGroup.valid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
